table.type10 {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border: 1px solid #ccc;
  width: 1000px; 
}
table.type10 thead th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  text-align: center;
  color: #fff;
  background: #e7708d;
  margin: 20px 10px;
  
}
table.type10 tbody th {
  width: 150px;
  padding: 10px;
  border:  1px solid #ccc;
}
table.type10 td {
  width: 250px;
  padding: 10px;
  vertical-align: top;
  border:1px solid #ccc;
}
table.type10 .even {
  background: #fdf3f5;
}